{
  "presets": [[
      "@babel/preset-env",
      {
        "useBuiltIns": "usage"
      }
  ]],

  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-syntax-dynamic-import"
  ]
}
